<div id="records">
  {{#each records}}
    <div class="record-year">
      <h3>{{year}}</h3>
      <table class="table table-striped">
        {{#each records}}
          <tr data-id="{{_id}}">
            <td class="date">{{formatDate 'MMM DD' date}}</td>
            <td class="mileage">{{formatNumber '000,000' mileage}}</td>

            {{#if ../../settings.enableCost}}
              <td class="cost">{{formatNumber '$0' cost}}</td>
            {{/if}}

            <td class="notes">{{notes}}</td>
          </tr>
        {{/each}}
      </table>
    </div>
  {{else}}
    <div class="no-results">
      <h3>You don't have any records yet.</h3>
      <p>
        Try adding your purchase as the first one.
      </p>
    </div>
  {{/each}}
</div>
