<div id="records">
  {{#each records}}
    <div class="record-year">
      <h3>{{year}}</h3>
      <div class="records-container hidden-sm hidden-xs">
        <table class="table table-striped">
          {{#each records}}
            <tr class="record" data-id="{{_id}}">
              <td class="date">{{formatDate date 'MMM DD'}}</td>
              <td class="mileage">{{formatNumber '000,000' mileage}}</td>

              {{#if ../../settings.enableCost}}
                <td class="cost">{{formatNumber '$0' cost}}</td>
              {{/if}}

              <td class="notes">{{notes}}</td>
            </tr>
          {{/each}}
        </table>
      </div>

      <div class="records-container visible-sm visible-xs">
        {{#each records}}
          <div class="record" data-id="{{_id}}">
            <header>
              <span class="date">{{formatDate date 'MMM DD'}}</span>
              <span class="mileage">{{formatNumber '000,000' mileage}}</span>

              {{#if ../../settings.enableCost}}
                <span class="cost">{{formatNumber '$0' cost}}</span>
              {{/if}}
            </header>
            <p class="notes">
              {{notes}}
            </p>
          </div>
        {{/each}}
      </div>
    </div>
  {{else}}
    <div class="no-results">
      <h3>You don't have any records yet.</h3>
      <p>
        Try adding your purchase as the first one.
      </p>
    </div>
  {{/each}}
</div>
