<div id="header">
  <nav class="navbar navbar-default navbar-fixed-top">
    <a href="#vehicles" class="back btn">
      <i class="fa fa-chevron-left"></i>
    </a>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <a href="#" class="name btn btn-default">
            {{name}}
          </a>
        </div>
        <div class="col-md-4">
          <form class="navbar-form">
            <input type="search" name="filter" id="filter" class="form-control" placeholder="Filter...">
          </form>
        </div>
        <div class="col-md-4">
          <nav class="pull-right">
            <a href="#" class="vehicles btn btn-default">
              Vehicles
            </a>
            <a href="#" class="logout btn btn-default">
              Logout
            </a>
          </nav>
        </div>
      </div>
    </div>

  </nav>
</div>

<div class="container action-bar">
  <div class="row">
    <div class="col-sm-12">
      <nav>
        <a href="#" class="btn btn-primary">+ Add Service</a>
      </nav>
    </div>
  </div>
</div>

<div id="main">
  <div class="container">
    {{#collection id="records"}}
      <h3>{{year}}</h3>

      <table class="table table-striped">
        {{#each records}}
          <tr>
            <td>{{formatDate 'MMM DD' date}}</td>
            <td>{{formatNumber '000,000' mileage}}</td>
            <td>{{notes}}</td>
          </tr>
        {{/each}}
      </table>
    {{/collection}}
  </div>
</div>
