<div id="header">
  <nav class="navbar navbar-default navbar-fixed-top">

    <div class="container-fluid">
      <div class="">
        <div class="col-md-4">
          <a href="#vehicles" class="back btn">
            <i class="fa fa-chevron-left"></i>
          </a>
          <a href="#" class="js-name btn btn-default">
            {{name}}
          </a>
          <a href="#" class="js-settings btn btn-default">
            Settings
          </a>
        </div>
        <div class="col-sm-4 hidden-sm hidden-xs">
          <form class="navbar-form">
            <input type="search" name="filter" id="filter" class="form-control text-center"
              placeholder="Search">
          </form>
        </div>
        <div class="col-sm-4 hidden-sm hidden-xs">
          <nav class="pull-right">
            <a href="#" class="js-vehicles btn btn-default">
              Vehicles
            </a>

            {{view sessionView}}
          </nav>
        </div>
      </div>
    </div>

  </nav>
</div>

<div class="container action-bar">
  <div class="row">
    <div class="col-sm-6">
      <nav>
        <a href="#" class="js-add-service btn btn-secondary">
          + Add Service
        </a>
        <a href="#" class="js-add-reminder btn btn-secondary">
          + Add Reminder
        </a>
      </nav>
    </div>

    <div class="col-sm-6">
      {{#if milesPerYear}}
        <p class="text-muted text-right">
          You drive about {{formatNumber '0,000' milesPerYear}} miles a year
        </p>
      {{/if}}
    </div>
  </div>
</div>

<div id="main">
  <div class="container">
    {{view remindersView}}
    {{view recordsView}}
  </div>
</div>
