{{#empty schedule}}
{{else}}
  <h5 class="">
    <span class="fa fa-wrench fa-fw"></span>
    Upcoming Maintenance
  </h5>
  <ul class="list-unstyled">
    {{#each nextActions}}
      <li>
        {{action}} {{item}} {{inNextDuration}}
      </li>
    {{else}}
      {{#if vin}}
        <span class="text-muted">All good!</span>
      {{else}}
        <span class="text-muted">
          Add your VIN (click on your vehicle in the upper left) to get maintenance based on your mileage.
        </span>
      {{/if}}
    {{/each}}
  </ul>
{{/empty}}
