<div id="header">
  <nav class="navbar navbar-default navbar-fixed-top">
    <a href="#vehicles" class="back btn">
      <i class="fa fa-chevron-left"></i>
    </a>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <a href="#" class="js-name btn btn-default">
            {{name}}
          </a>
          <a href="#" class="js-settings btn btn-default">
            Settings
          </a>
        </div>
        <div class="col-md-4">
          <form class="navbar-form">
            <input type="search" name="filter" id="filter" class="form-control text-center"
              placeholder="Search">
          </form>
        </div>
        <div class="col-md-4">
          <nav class="pull-right">
            <a href="#" class="js-vehicles btn btn-default">
              Vehicles
            </a>

            {{view sessionView}}
          </nav>
        </div>
      </div>
    </div>

  </nav>
</div>

<div class="container action-bar">
  <div class="row">
    <div class="col-sm-4">
      <nav>
        <a href="#" class="js-add-service btn btn-secondary">
          + Add Service
        </a>
        <a href="#" class="js-add-reminder btn btn-secondary">
          + Add Reminder
        </a>
      </nav>
    </div>

    <div class="col-sm-4 pull-right">
      {{#if milesPerYear}}
        <p class="text-muted text-right">
          You drive about {{formatNumber '0,000' milesPerYear}} miles a year
        </p>
      {{/if}}
    </div>
  </div>
</div>

<div id="main">
  <div class="container">
    {{#empty reminders}}
    {{else}}
      <div id="reminders">
        <h5 class="text-muted">
          <span class="fa fa-clock-o fa-fw"></span>
          Reminders
        </h5>

        {{#collection reminders tag="ul" class="list-unstyled"}}
          <li>{{reminder}}</li>
        {{/collection}}
      </div>
    {{/empty}}

    <div id="records">
      {{#each records}}
        <div class="record-year">
          <h3>{{year}}</h3>
          <table class="table table-striped">
            {{#each records}}
              <tr data-id="{{_id}}">
                <td class="date">{{formatDate 'MMM DD' date}}</td>
                <td class="mileage">{{formatNumber '000,000' mileage}}</td>

                {{#if ../../settings.enableCost}}
                  <td class="cost">{{formatNumber '$0' cost}}</td>
                {{/if}}

                <td class="notes">{{notes}}</td>
                <td class="text-right">
                  <nav class="actions pull-right">
                    <a href="#" class="js-remove-record" data-record-id="{{_id}}">
                      <i class="fa fa-trash-o"></i>
                    </a>
                  </nav>
                </td>
              </tr>
            {{/each}}
          </table>
        </div>
      {{else}}
        <h3 class="text-center text-muted">
          You don't have any records yet
        </h3>
      {{/each}}
    </div>
  </div>
</div>
