<div id="header">
  <nav class="navbar navbar-default navbar-fixed-top">
    <a href="#vehicles" class="back btn">
      <i class="fa fa-chevron-left"></i>
    </a>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <a href="#" class="name btn btn-default">
            {{name}}
          </a>
          <a href="#" class="settings btn btn-default">
            Settings
          </a>
        </div>
        <div class="col-md-4">
          <form class="navbar-form">
            <input type="search" name="filter" id="filter" class="form-control text-center"
              placeholder="Filter...">
          </form>
        </div>
        <div class="col-md-4">
          <nav class="pull-right">
            <a href="#" class="vehicles btn btn-default">
              Vehicles
            </a>
          </nav>
        </div>
      </div>
    </div>

  </nav>
</div>

<div class="container action-bar">
  <div class="row">
    <div class="col-sm-12">
      <nav>
        <a href="#" class="add-service btn btn-default">+ Add Service</a>
      </nav>
    </div>
  </div>
</div>

<div id="main">
  <div class="container">
    <div id="records">
      {{#each records}}
        <h3>{{year}}</h3>

        <table class="table table-striped">
          {{#each records}}
            <tr data-id="{{id}}">
              <td class="date">{{formatDate 'MMM DD' date}}</td>
              <td class="mileage">{{formatNumber '000,000' mileage}}</td>
              <td class="notes">{{notes}}</td>
              <td class="actions text-right">
                <a href="#" class="remove-record" data-record-id="{{id}}">
                  <i class="fa fa-trash-o text-muted"></i>
                </a>
              </td>
            </tr>
          {{/each}}
        </table>
      {{else}}
        <h3 class="text-center text-muted">
          You don't have any records yet
        </h3>
      {{/each}}
    </div>
  </div>
</div>
